@import "../../default/default.css";

section {
    animation: fadeInFromBottom 1s ease-out 0s 1;
}

section .welcome-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 100px auto;
}

#welcome h3 {
    margin-left: 6px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-5, #ebebeb);
    font-size: 16px;
}

#welcome h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-8, #c5c6c6);
    font-size: 80px;
    opacity: 0.8;
}

#welcome h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-10, #7ccdf4);
    font-size: 100px;
    opacity: 0.8;
}

#welcome p {
    margin-left: 6px;
    max-width: 600px;
    padding-top: 40px;
    color: var(--color-8, #ebebeb);
    font-size: 24px;
}