/* LIGHT */
:root {
    --color-1: #f8f9faff;
    --color-2: #e9ecefff;
    --color-3: #dee2e6ff;
    --color-4: #ced4daff;
    --color-5: #adb5bdff;
    --color-6: #6c757dff;
    --color-7: #495057ff;
    --color-8: #343a40ff;
    --color-9: #212529ff;
    --color-10: #212529ff;

}