@import "../../default/default.css";

div .about-container {
    margin-top: 80px;
    margin-left: 80px;
    max-width: 40%;
}

div .about-container h1 {
    color: var(--color-5, #7ccdf4);
}

div .about-container h2 {
    color: var(--color-10, #ebebeb);
}

div .about-container p {
    color: var(--color-8, #ebebeb);
}

div .about-container p a.custom-link {
    text-decoration: none;
    color: var(--color-5, #7ccdf4);
    display: inline-block;
    position: relative;
}

div .about-container p a.custom-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--color-5, #7ccdf4);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  div .about-container p a.custom-link:hover:after { 
    width: 100%; 
    left: 0; 
  }