/* GREENS */
:root {
    --color-1: #081C15;
    --color-2: #081C15;
    --color-3: #1B4332;
    --color-4: #2D6A4F;
    --color-5: #40916C;
    --color-6: #52B788;
    --color-7: #74C69D;
    --color-8: #95D5B2;
    --color-9: #B7E4C7;
    --color-10: #D8F3DC;
}