/* RED, ORANGE, YELLOW */
:root {
    --color-1: #03071E;
    --color-2: #370617;
    --color-3: #6A040F;
    --color-4: #9D0208;
    --color-5: #D00000;
    --color-6: #DC2F02;
    --color-7: #E85D04;
    --color-8: #F48C06;
    --color-9: #FAA307;
    --color-10: #FFBA08;
}