div .welcome-container {
    margin-left: 80px;
}


#welcome section h3 {
    color: white;
    padding-top: 80px;
    font-size: 16px;
}

#welcome section h2 {
    color: lightgray;
    font-size: 80px;
    opacity: 0.8;
}

#welcome section h1 {
    color: #7ccdf4;
    font-size: 80px;
    opacity: 0.8;
}

#welcome section p {
    color: white;
    font-size: 16px;
}