@import "../default.css";

div .experience-container {
    margin-top: 80px;
    margin-left: 80px;
}

div .experience-container h1 {
    color: var(--color-5, #7ccdf4);
}

div .experience-container h2 {
    color: var(--color-10, #ebebeb);
}