@import "../../default/default.css";

div .work-container {
    margin-top: 200px;
    display: inline-block;
}

div .work-container h1 {
    font-size: 50px;
    color: var(--color-5, #7ccdf4);
}

div .project-container {
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}